@require 'mixin.styl'


//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-m = 20px
$font-size-icon = 25px
$font-size-large-x = 22px

$color-default = #444
$color-main = #ea5947
$color-intro = #969696
$color-uncheck = #e3e3e9
$color-border-default = #e3e3e9
$color-infobg = #f3f3f3
$color-right = #7ecc00
$color-error = #ff0000
